Red0 BITMAP "graphics\\Img\\Red0.bmp"
Red1 BITMAP "graphics\\Img\\red1.bmp"
tlb ICON "graphics\\tlb.ico"
Blue0 BITMAP "graphics\\Img\\Blue0.bmp"
Blue1 BITMAP "graphics\\Img\\Blue1.bmp"
Green0 BITMAP "graphics\\Img\\Green0.bmp"
Green1 BITMAP "graphics\\Img\\Green1.bmp"
White0 BITMAP "graphics\\Img\\White0.bmp"
White1 BITMAP "graphics\\Img\\White1.bmp"
Yellow0 BITMAP "graphics\\Img\\Yellow0.bmp"
Yellow1 BITMAP "graphics\\Img\\Yellow1.bmp"
