PIC12F508 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F508.bmp"
dot BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\..bmp"
sd0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\0.bmp"
sd1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\1.bmp"
sd2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\2.bmp"
sd3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\3.bmp"
sd4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\4.bmp"
sd5 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\5.bmp"
sd6 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\6.bmp"
sd7 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\7.bmp"
sd8 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\8.bmp"
sd9 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\9.bmp"
AN0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\AN0.bmp"
AN1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\AN1.bmp"
CINn BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\cin-.bmp"
CINp BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\cin+.bmp"
CLKIN BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\CLKIN.bmp"
cout BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\cout.bmp"
Fosc4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\Fosc4.bmp"
GP0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\GP0.bmp"
GP1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\GP1.bmp"
GP2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\GP2.bmp"
GP3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\GP3.bmp"
GP4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\GP4.bmp"
GP5 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\GP5.bmp"
HiToLo BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\HiToLo.bmp"
In BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\in.bmp"
In2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\in2.bmp"
LoToHi BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\LoToHi.bmp"
MCLR BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\MCLR.bmp"
minus BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\minus.bmp"
OSC1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\OSC1.bmp"
OSC2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\OSC2.bmp"
Out BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\out.bmp"
Out2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\out2.bmp"
PIC10F200_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F200 - free.bmp"
PIC10F200 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F200.bmp"
PIC10F202_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F202 - free.bmp"
PIC10F202 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F202.bmp"
PIC10F204_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F204 — free.bmp"
PIC10F204 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F204.bmp"
PIC10F206_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F206 — free.bmp"
PIC10F206 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F206.bmp"
PIC10F220_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F220 — free.bmp"
PIC10F220 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F220.bmp"
PIC10F222_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F222 — free.bmp"
PIC10F222 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC10F222.bmp"
PIC12F508_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F508 — free.bmp"
r0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\r0.bmp"
r1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\r1.bmp"
r3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\r3.bmp"
T0CKI BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\T0CKI.bmp"
V BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\V.bmp"
PIC12F509_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F509 — free.bmp"
PIC12F509 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F509.bmp"
PIC12F510_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F510 — free.bmp"
PIC12F510 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F510.bmp"
PIC12F519_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F519 — free.bmp"
PIC12F519 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC12F519.bmp"
PIC16F505_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F505 — free.bmp"
PIC16F505 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F505.bmp"
PIC16F506_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F506 — free.bmp"
PIC16F506 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F506.bmp"
PIC16F526_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F526 — free.bmp"
PIC16F526 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F526.bmp"
PIC16F54_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F54 — free.bmp"
PIC16F54 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F54.bmp"
PIC16F57_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F57 - free.bmp"
PIC16F57 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F57.bmp"
PIC16F59_free BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F59 - free.bmp"
PIC16F59 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Body\\PIC16F59.bmp"
AN2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\AN2.bmp"
C1INn BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\C1IN-.bmp"
C1INp BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\C1IN+.bmp"
C1OUT BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\C1OUT.bmp"
C2INn BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\C2IN-.bmp"
C2INp BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\C2IN+.bmp"
C2OUT BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\C2OUT.bmp"
CLKOUT BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\CLKOUT.bmp"
CVref BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\CVref.bmp"
RA0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RA0.bmp"
RA1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RA1.bmp"
RA2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RA2.bmp"
RA3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RA3.bmp"
RB0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB0.bmp"
RB1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB1.bmp"
RB2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB2.bmp"
RB3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB3.bmp"
RB4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB4.bmp"
RB5 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB5.bmp"
RB6 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB6.bmp"
RB7 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RB7.bmp"
RC0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC0.bmp"
RC1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC1.bmp"
RC2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC2.bmp"
RC3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC3.bmp"
RC4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC4.bmp"
RC5 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC5.bmp"
RC6 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC6.bmp"
RC7 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RC7.bmp"
RD0 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD0.bmp"
RD1 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD1.bmp"
RD2 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD2.bmp"
RD3 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD3.bmp"
RD4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD4.bmp"
RD5 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD5.bmp"
RD6 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD6.bmp"
RD7 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RD7.bmp"
RE4 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RE4.bmp"
RE5 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RE5.bmp"
RE6 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RE6.bmp"
RE7 BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\RE7.bmp"
Slash BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\slash.bmp"
AN0C1INp BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\AN0C1INp.bmp"
AN1C1INn BITMAP "..\\..\\..\\graphic\\Components\\Microcontrollers\\Pins\\AN1C1INn.bmp"
